* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: inherit;
    background-color: bisque;
}

.container div {
    background-color: rgba(45, 158, 179, 0.253);
    border-style: solid 2px;
    border-color: black;
}

.card-body {
    border-style: dotted;
    border-color: rgb(60, 60, 151);
    border-width: 1px;
}

#displaypassword {
    resize: none;
    text-align: center;
    margin-right: 20px;
    margin-bottom:20px;
    font-size: 13;
    font-weight: bold;
}

div.form-length {
    margin-top:10px;
}

button#generate.btn {
    background-color: blue;
}

